# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../optional_bball/nbastats2018-2019.csv', sep = ',')
data.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

# What was the average age of player in the league?

In [3]:
data['Age'].mean()

25.900191938579656

# What player scored the most points?

In [22]:
score = data.loc[:][['Name', 'Points']].sort_values(by = 'Points', ascending=False)
score.head(1)

             Name  Points
202  James Harden    36.1

# What player had the most blocks during the season? Was it a post player (F/C)?

In [23]:
block = data.loc[:][['Name', 'Blocks']].sort_values(by = 'Blocks', ascending=False)
block.head(1)
# It was a F/C but there is no position column, I know this because I follow basketball.

             Name  Blocks
476  Myles Turner     2.7

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [ ]:
# I have no idea how to answer this. Win percentage is not an individual stat

# What player had the best 3-pt percentage?

In [28]:
# This cell returns only the leader that qualifies, or has played enough for their statistics to be meaningful.
# I won't do this for the rest of the questions that ask this.

def qualify(row):
    tpg = row['FG3A']
    tper = row['FG3%']
    games = row['G']
    makes = (tpg * games) * tper
    if makes >= 82:
        return 'Yes'
    else:
        return 'No'
    
data['3P Qualified'] = data.apply(qualify, axis = 1)

qualified = data[data['3P Qualified'] == 'Yes']

three = qualified.loc[:][['Name', 'FG3%', '3P Qualified']].sort_values(by = 'FG3%', ascending=False)
three.head(1)

           Name   FG3% 3P Qualified
207  Joe Harris  0.474          Yes

# Who played the most minutes during the season

In [30]:
mins = data.loc[:][['Name', 'MP']].sort_values(by = 'MP', ascending=False)
mins.head(1)

            Name    MP
179  Paul George  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [31]:
eff = data.loc[:][['Name', 'PER']].sort_values(by = 'PER', ascending=False)
eff.head(1)

        Name   PER
405  Zhou Qi  80.4

# What team had the youngest roster?

In [38]:
young = data.groupby('Team').mean()['Age']
young.head(1)

Team
Atlanta Hawks    26.47619
Name: Age, dtype: float64

# Who is the highest paid player during the seasion?

In [51]:
# Below is how I would do it but something is messing up the numbers, I think it's the '-'

salary = data.loc[:][['Name', 'Salary']].sort_values(by = 'Salary', ascending=False)
salary

                    Name   Salary
255         John Jenkins    99290
188      Devonte' Graham   988464
402        Dwight Powell  9631250
129  Matthew Dellavedova  9607500
157           Dante Exum  9600000
..                   ...      ...
96       Tyler Cavanaugh        -
92           Alex Caruso        -
292           Damion Lee        -
293       Walt Lemon Jr.        -
175        Billy Garrett        -

[521 rows x 2 columns]

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [50]:
ft = data.loc[:][['Name', 'FT%']].sort_values(by = 'FT%')
ft.head(1)

               Name  FT%
268  Terrence Jones  0.0